body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f2f2f2; /* Default background color */
    color: #000000; /* Default text color */
    position: relative;
}

.dark-mode {
    background-color: #1e1f22; /* Dark background color */
    color: #bababa; /* Dark text color */
}

.toggle-button {
    position: fixed;
    top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    opacity: 0.3; /* Default opacity */
    transition: opacity 0.3s ease; /* Adding a transition effect */
    z-index: 2; /* Higher z-index to display above the blue box */
}

.toggle-button.left {
    left: 20px; /* Positioned at the top left */
}

.toggle-button.right {
    right: 20px; /* Positioned at the top right */
}

.toggle-button:hover {
    background-color: #555;
    opacity: 1; /* Full opacity on hover */
}

a {
    color: blue;
    text-decoration: none;
}

.dark-mode a {
    color: #6185e8;
}

a:hover {
    text-decoration: underline;
}

.content-container {
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
    max-width: fit-content;
    position: relative; /* Add a relative position for content-container */
    z-index: 0; /* Lower z-index to place the content_container behind the blue box */
}

.upgrades {
    margin-top: 20px;
}

.title_text {
    margin-top: 0;
    z-index: 2;
}

ul ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.3; /* Default opacity */
    transition: opacity 0.3s ease; /* Adding a transition effect */
    z-index: 1; /* Higher z-index to display above the blue box */
}

.bottom-right-button:hover {
    background-color: #555;
    opacity: 1; /* Full opacity on hover */
}

li {
    margin-bottom: 5px; /* Add margin between list items */
}

ul ul li {
    margin-bottom: 5px; /* Add margin between nested list items */
}

.bottom-padding {
    padding-bottom: 500px; /* Adjust this value as needed */
}

.blue-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Spans the full width of the screen */
    height: 82px; /* Updated height of 90px */
    z-index: 1; /* Higher z-index to display above .content_container */
    background-color: #f2f2f2; /* White color for the blue box in light mode */
}

.dark-mode .blue-box {
    background-color: #1e1f22; /* #1e1f22 color for the blue box in dark mode */
}
